dist: trusty

language: node_js

node_js:
  - "9"

install:
  - curl -O https://download.clojure.org/install/linux-install-1.9.0.315.sh
  - chmod +x linux-install-1.9.0.315.sh
  - sudo ./linux-install-1.9.0.315.sh

script:
  - if [ -z $PARTITION_FILTER ] || [ $PARTITION_FILTER = "1" ]; then clojure -Sdeps "{:deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript" :sha \"${CANARY_CLOJURESCRIPT_REV:-9ddd356d344aa1ebf9bd9443dd36a1911c92d32f}\"}}}" -m coal-mine.script test-part 1; fi
  - if [ -z $PARTITION_FILTER ] || [ $PARTITION_FILTER = "2" ]; then clojure -Sdeps "{:deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript" :sha \"${CANARY_CLOJURESCRIPT_REV:-9ddd356d344aa1ebf9bd9443dd36a1911c92d32f}\"}}}" -m coal-mine.script test-part 2; fi
  - if [ -z $PARTITION_FILTER ] || [ $PARTITION_FILTER = "3" ]; then clojure -Sdeps "{:deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript" :sha \"${CANARY_CLOJURESCRIPT_REV:-9ddd356d344aa1ebf9bd9443dd36a1911c92d32f}\"}}}" -m coal-mine.script test-part 3; fi
  - if [ -z $PARTITION_FILTER ] || [ $PARTITION_FILTER = "4" ]; then clojure -Sdeps "{:deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript" :sha \"${CANARY_CLOJURESCRIPT_REV:-9ddd356d344aa1ebf9bd9443dd36a1911c92d32f}\"}}}"" -m coal-mine.script test-part 4; fi
  - if [ -z $PARTITION_FILTER ] || [ $PARTITION_FILTER = "5" ]; then clojure -Sdeps "{:deps {org.clojure/clojurescript {:git/url "https://github.com/clojure/clojurescript" :sha \"${CANARY_CLOJURESCRIPT_REV:-9ddd356d344aa1ebf9bd9443dd36a1911c92d32f}\"}}}" -m coal-mine.script test-part 5; fi
